@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');                //tajawal regular
// @import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@700&display=swap');  //tajawal bold
body {
    font-family: 'Tajawal', sans-serif;
    background: #F5F5F5 !important;
  }
  a{
      color: unset !important;
      text-decoration: none;
    font-family: 'Tajawal', sans-serif;
    font-size: 14px;
    &:hover {
        text-decoration: none !important;
        color: unset !important;
    }

  }
  